<template>
  <b-container>
    <b-alert
      :show="showAlert"
      :variant="alertVariant">
      <h4 class="alert-heading">{{ alertText }}</h4>
      <hr>
      <p class="mb-0">
        {{ alertText2 }}
      </p>
    </b-alert>
    <h2>{{ $t('nodes.add.title') }}</h2>
    <p>{{ $t('nodes.add.subtitle') }}</p>
    <b-form
      v-if="show"
      @submit="onSubmit"
      @reset="onReset">
      <b-form-group
        id="exampleInputGroup1"
        :label="$t('nodes.add.form.address.label')"
        :description="$t('nodes.add.form.address.description')"
        label-for="exampleInput1">
        <b-form-input
          id="exampleInput1"
          v-model="form.url"
          :placeholder="$t('nodes.add.form.address.placeholder')"
          type="text"
          required />
      </b-form-group>
      <b-form-group
        id="exampleInputGroup2"
        :label="$t('nodes.add.form.name.label')"
        label-for="exampleInput2">
        <b-form-input
          id="exampleInput2"
          v-model="form.name"
          :placeholder="$t('nodes.add.form.name.placeholder')"
          type="text"
          required/>
      </b-form-group>
      <b-form-group
        id="exampleInputGroup3"
        :label="$t('nodes.add.form.password.label')"
        label-for="exampleInput3">
        <b-form-input
          id="exampleInput3"
          v-model="form.password"
          :placeholder="$t('nodes.add.form.password.placeholder')"
          type="text"/>
      </b-form-group>
      <b-form-group id="exampleGroup4">
        <b-form-checkbox-group
          id="exampleChecks"
          v-model="form.pow">
          <b-form-checkbox value="pow">{{ $t('nodes.add.form.pow') }}</b-form-checkbox>
        </b-form-checkbox-group>
      </b-form-group>
      <b-button
        type="submit"
        variant="primary">{{ $t('nodes.add.form.submit') }}</b-button>
    </b-form>
    <br>
    <nuxt-link to="/nodes/remove">{{ $t('nodes.add.remove_node') }}</nuxt-link>
  </b-container>
</template>

<script>
import axios from 'axios'
let pool_url = process.env.pool_url
export default {
  data() {
    return {
      form: {
        url: '',
        name: '',
        pow: false
      },
      show: true,
      showAlert: false,
      alertVariant: '',
      alertText: '',
      alertText2: ''
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      var self = this
      var bodyFormData = {
        name: this.form.name,
        url: this.form.url,
        password: this.form.password,
        pow: this.form.pow ? true : false
      }
      console.log('Send data: ', bodyFormData)

      axios
        .post(`${pool_url}/nodes/`, bodyFormData, {
          crossdomain: true,
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(function(response) {
          console.log(response)
          self.alertText = 'Du hast deinen Node erfolgreich hinzugefügt!'
          self.alertText2 = `Hier ist dein Node-Key: ${response.data.password}`
          self.openAlert('success')
        })
        .catch(function(error) {
          console.log(error)
          self.alertText = 'Hoppla, da ist etwas schief gelaufen.'
          self.alertText2 =
            'Versuche es später nochmal oder kontaktiere den Support.'
          self.openAlert('danger')
        })
    },
    onReset(evt) {
      evt.preventDefault()
      /* Reset our form values */
      this.form.url = ''
      this.form.name = ''
      this.form.password = ''
      this.form.pow = []
      /* Trick to reset/clear native browser form validation state */
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    },
    openAlert(type) {
      this.alertVariant = type
      this.showAlert = true
    }
  }
}
</script>

<style>
.container {
  min-height: 100vh;
}
</style>
