<template>
  <b-container>
    <b-alert
      :show="showAlert"
      :variant="alertVariant">
      <h4 class="alert-heading">{{ alertText }}</h4>
      <hr>
      <p class="mb-0">
        {{ alertText2 }}
      </p>
    </b-alert>
    <div>
      <h2>{{ $t('nodes.remove.title') }}</h2>
      <b-form
        v-if="show"
        @submit="onSubmit"
        @reset="onReset">
        <b-form-group
          id="exampleInputGroup2"
          :label="$t('nodes.remove.form.password.label')"
          :description="$t('nodes.remove.form.password.description')"
          label-for="exampleInput2">
          <b-form-input
            id="exampleInput2"
            v-model="form.password"
            :placeholder="$t('nodes.remove.form.password.placeholder')"
            type="text"
            required />
        </b-form-group>
        <b-button
          type="submit"
          variant="primary">{{ $t('nodes.remove.form.submit') }}</b-button>
      </b-form>
    </div>
    <br>
    <nuxt-link to="/nodes/add">{{ $t('nodes.remove.add_node') }}</nuxt-link>
  </b-container>
</template>

<script>
import axios from 'axios'
let pool_url = process.env.pool_url
export default {
  data() {
    return {
      form: {
        password: ''
      },
      show: true,
      showAlert: false,
      alertVariant: '',
      alertText: '',
      alertText2: ''
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      var self = this
      var bodyFormData = {
        password: this.form.password
      }
      console.log('Send data: ', bodyFormData)

      axios
        .delete(`${pool_url}/nodes/${this.form.password}`, bodyFormData, {
          crossdomain: true,
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(function(response) {
          console.log(response)

          self.alertText = 'Du hast deinen Node erfolgreich entfernt!'
          self.alertText2 = `Solltest du deine Node später wieder hinzufügen wollen, speichere bitte deinen Node-Key, da sonst dein Node-Score verloren geht! `
          self.alertText3 = `Vielen Dank für deine Unterstützung!`
          self.form.password = ''

          self.openAlert('success')
        })
        .catch(function(error) {
          console.log(error)

          self.alertText = 'Hoppla, da ist etwas schief gelaufen.'
          self.alertText2 =
            'Versuche es später nochmal oder kontaktiere den Support.'
          self.openAlert('danger')
        })
    },
    onReset(evt) {
      evt.preventDefault()
      /* Reset our form values */
      this.form.password = ''
      /* Trick to reset/clear native browser form validation state */
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    },
    openAlert(type) {
      this.alertVariant = type
      this.showAlert = true
    }
  }
}
</script>

<style>
.container {
  min-height: 100vh;
}
</style>
