<template>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>{{ $t('nodes.details.information') }}</h3>
        <div
          class="card">
          <div class="card-body">
            <h5 class="card-title">{{ node.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Public ID: {{ node.key }}</h6>
            <ul class="list-group">
              <li
                v-if=" node.appName != 'POW Node' "
                class="list-group-item d-flex justify-content-between align-items-center">
                {{ $t('node_attributes.appVersion') }}
                <span class="badge badge-primary badge-pill">IRI {{ node.appVersion }}</span>
              </li>
              <li
                v-if=" node.appName != 'POW Node' "
                class="list-group-item d-flex justify-content-between align-items-center">
                {{ $t('node_attributes.delay') }}
                <span class="badge badge-primary badge-pill">{{ node.delay }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ $t('node_attributes.available') }}
                <span class="badge badge-primary badge-pill">{{ node.available ? 'Ja' : 'Nein' }}</span>
              </li>
              <li
                v-if=" node.appName != 'POW Node' "
                class="list-group-item d-flex justify-content-between align-items-center">
                {{ $t('node_attributes.is_synced') }}
                <span class="badge badge-primary badge-pill">{{ node.milestone == node.solidMilestone ? 'Ja' : 'Nein' }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ $t('node_attributes.pow') }}
                <span class="badge badge-primary badge-pill">{{ node.pow ? 'Ja' : 'Nein' }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ $t('node_attributes.millis') }}
                <span class="badge badge-primary badge-pill">{{ node.millis }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h3>{{ $t('node_attributes.commands') }}</h3>
        <div
          class="card">
          <div class="card-body">

            <table class="table table-striped table-bordered table-responsive-sm">

              <thead>
                <th scope="col">{{ $t('nodes.details.command') }}</th>
                <th scope="col">{{ $t('nodes.details.count') }}</th>
                <th scope="col">{{ $t('nodes.details.ms') }}</th>
              </thead>
              <tbody
                v-for="(command, index) in sorted_commands"
                :key="index">
                <th scope="row">{{ command.command }}</th>
                <td>{{ command.count }}</td>
                <td>{{ command.millis }}</td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
let interval = {}

let pool_url = process.env.pool_url
let node = {
  name: ''
}
let sorted_commands = []
export default {
  async asyncData({ params }) {
    console.log('params')
    console.log(params)
    node.name = params.node_id
    return {
      node: node,
      pool_url: pool_url
    }
  },
  mounted() {
    this.fetchData()
    interval = setInterval(this.fetchData, 5000)
  },
  unmounted() {
    clearInterval(interval)
  },
  methods: {
    async fetchData() {
      try {
        let url = `${pool_url}/nodes/${node.name}`
        let { data } = await axios.get(url)
        this.node = data
        this.sorted_commands = this.node.commands.sort(function(a, b) {
          return ('' + a.command).localeCompare(b.command)
        })
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>

<style media="screen">
.badge-primary {
  background-color: #15c6a0;
}
.container {
  min-height: 100vh;
}
</style>
