<template>
  <div class="container">
    <h1>{{ $t('donators.title') }}</h1>
    <p>Number of Dontations: {{ data.donations.length }}</p>
    <p>Donated IOTA: {{ data.balance }}</p>
    <div
      v-for="(donation, index) in data.donations"
      :key="index">
      <b-card-group deck>
        <b-card
          img-src="http://place-hold.it/1000x300"
          img-alt="Card image"
          img-top>
          <p class="card-text">
            Name: This could be your name
          </p>
          <p class="card-text">
            Quote: This cold be your qoute
          </p>
          <p>Donated IOTA: {{ data.donation.value }}</p>
          <a href="#">Visit website</a>
        </b-card>
      </b-card-group>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
// export default {
//   async asyncData() {
//     const { data } = await axios.get(
//       'https://m-donation-service.herokuapp.com/get_donations.json?address=ZPYQTMXKIGAXVVMNJWUNJCCR9ZQYHLOJMJ9KUSFPPPBQXQVAHTLNJTJIVENVRM9MUIXDPNWKHJDQAULXYYSABILMWZ'
//     )
//     console.log('data', data)
//     return {
//       balance: data.balance,
//       donations: data.donations
//     }
//   }
// }

let ws = new WebSocket('ws://localhost:8008')

export default {
  data() {
    return {
      data: {
        balance: 0,
        donations: []
      }
    }
  },
  created() {
    ws.addEventListener('message', message => {
      let data = JSON.parse(message.data)
      let address =
        '9CYXTFQP9WZLVIWAOLVJIAP9OQCQ9RHHYCVZTJVSOQAVQGZZKANKBCPIANFQTCKWTRNZVCTTXQHUQZMZAUVLYDRCIB'
      if (address.includes(data.address)) {
        console.log('OUR DONATION!')
        console.log(data)
        if (data.value) {
          console.log('value', data.value)
          console.log('tag', data.tag)
        }
      } else {
        console.log('Just another transaction!')
      }
      this.updateData(data)
    })
    ws.addEventListener('error', message => {
      console.error('error', message)
    })
    ws.addEventListener('open', message => {
      console.log('open', message)
    })
  },
  methods: {
    updateData(data) {
      console.log('this.data', this.data)
      console.log('data', data)
    }
  }
}
</script>
