<template>
  <div>
    <b-navbar
      fixed
      toggleable="md"
      variant="default">

      <b-navbar-toggle target="nav_collapse" />

      <b-navbar-brand to="/">
        <img src="~/assets/nodes24-logo.png">
      </b-navbar-brand>

      <b-collapse
        id="nav_collapse"
        is-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item
            to="/"
            exact>{{ $t('nav_items.home') }}</b-nav-item>

          <b-nav-item
            to="/nodes/add">{{ $t('nav_items.add_node') }}</b-nav-item>
        </b-navbar-nav>

      </b-collapse>
    </b-navbar>
    <nuxt/>
    <footer class="container-fluid">
      <div class="links row">
        <div class="links-left">
          <a href="https://einfach-iota.de/datenschutz">Datenschutz</a>
          <a href="https://einfach-iota.de/impressum">Impressum</a>		
        </div>
        <div class="links-center">
          <p>&copy; 2018 Nodes24.com</p>
        </div>
        <div class="links-right">
          <a
            href="https://twitter.com/Nodes24"
            target="_blank">Twitter</a>
          <a
            href="https://discord.gg/2FP9uHx"
            target="_blank">Discord</a>
          <a
            href="https://einfach-iota.de"
            target="_blank">einfach-IOTA.de</a>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
let title = process.env.title
let logo_url = process.env.logo_url

export default {
  data() {
    return {
      title: title,
      logo_url: logo_url
    }
  }
}
</script>

<style>
/* default-green 15c6a0 */

body {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: rgb(114, 114, 114);
}

a {
  color: #15c6a0;
}

input.form-control:focus {
  border-color: #15c6a0;
  box-shadow: 0 0 0 0.1rem #15c6a0;
}

.alert-primary {
  background-color: #15c6a0;
  color: white;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: primaryColor;
  cursor: pointer;
}

footer {
  padding: 20px 0;
  background-color: #e9ecef;
}

footer .links {
  width: 100%;
}

footer .links-left {
  text-align: left;
  padding-left: 40px;
  width: 33%;
}

footer .links-center {
  text-align: center;
  width: 33%;
}

footer .links-right {
  text-align: right;
  width: 33%;
}

footer .links a {
  padding: 0 10px;
  color: #15c6a0;
}

.nav-item {
  margin: 5px 5px;
  border-radius: 5px;
  font-size: 18px;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #15c6a0;
}

.nav-item:hover {
  background-color: #15c6a0;
}

.navbar-light .navbar-nav .nav-link {
  margin: 5px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

.btn-primary {
  background-color: #15c6a0;
  border-color: #15c6a0;
}
.btn-primary:hover {
  background-color: #159479;
  border-color: #15c6a0;
}
</style>
