<template>
  <div class="container">
    <b-alert
      :show="dismissCountDown"
      dismissible
      variant="primary"
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="countDownChanged">
      {{ $t('home.copy_pool_url_notification') }}
    </b-alert>
    <div class="jumbotron text-center">
      <h1 class="display-4">{{ title }}</h1>
      <hr class="my-4">
      <p class="lead">
        <span>{{ pool_url }}</span>
      </p>
      <span
        class="btn btn-primary copy-btn ml-auto"
        @click.stop.prevent="copyPoolUrl">{{ $t('home.copy_pool_url') }}</span>
      <input
        id="pool_url"
        :value="pool_url"
        type="hidden">
      <br>
      <br>
      <br>
      <p>{{ $t('home.introduction') }}</p>
    </div>

    <b-form>
      <label
        class="sr-only"
        for="search">{{ $t('home.search') }}</label>
      <b-input
        id="search"
        v-model="search"
        :placeholder="$t('home.search_placeholder')"
        type="text"
        class="mb-12" />
    </b-form>
    <br>
    <b-table
      :fields="fields"
      :items="filteredList"
      striped
      hover
      smal
      @row-clicked="openNodeInfos">
      <!-- A virtual column -->
      <template
        slot="version"
        slot-scope="data">
        {{ data.item.appName }} {{ data.item.appVersion }}
      </template>
      <template
        slot="name"
        slot-scope="data">
        {{ data.item.name }}
      </template>
      <template
        slot="key"
        slot-scope="data">
        {{ data.item.key }}
      </template>
      <template
        slot="available"
        slot-scope="data">
        <b-badge
          :variant="(data.item.available && ((data.item.milestone - data.item.solidMilestone) < 3)) ? 'success' : 'danger'"
          pill
        > {{ ' ' }} </b-badge>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
let interval = {}

let title = process.env.title
let pool_url = process.env.pool_url
let url = `${pool_url}/nodes`

export default {
  async asyncData() {
    return {
      nodes: [],
      interval: interval,
      title: title,
      pool_url: pool_url,
      dismissSecs: 3,
      dismissCountDown: 0,
      search: '',
      fields: [
        {
          key: 'name',
          sortable: true,
          class: 'col-6'
        },
        {
          key: 'version',
          sortable: false,
          class: 'col-2 d-none d-sm-table-cell'
        },
        {
          key: 'available',
          label: 'Verfügbar',
          sortable: true,
          class: 'col-2 text-center'
        }
      ],
      calc_processed_commands: function(commands) {
        let sum = 0
        commands.forEach(function(command) {
          sum = sum + command.count
        })
        return sum
      }
    }
  },
  computed: {
    filteredList() {
      if (this.nodes) {
        return this.nodes.filter(node => {
          return node.name.toLowerCase().includes(this.search.toLowerCase())
        })
      }
    }
  },
  mounted() {
    console.log('nodes/index')
    console.log('title', this.title)
    console.log('pool_url', this.pool_url)
    this.fetchData()
    this.interval = setInterval(this.fetchData, 5000)
  },
  unmounted() {
    clearInterval(this.interval)
  },
  methods: {
    openNodeInfos(node, index) {
      this.$router.push(`nodes/${node.name}`)
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    copyPoolUrl() {
      let copyPoolUrlToCopy = document.querySelector('#pool_url')
      copyPoolUrlToCopy.setAttribute('type', 'text')
      copyPoolUrlToCopy.select()

      try {
        var successful = document.execCommand('copy')
        this.dismissCountDown = this.dismissSecs
      } catch (err) {
        console.log('copy error', err)
      }
      /* unselect the range */
      copyPoolUrlToCopy.setAttribute('type', 'hidden')
      window.getSelection().removeAllRanges()
    },
    async fetchData(urk) {
      try {
        let { data } = await axios.get(url)
        this.nodes = data
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>
